@import 'theme';
@import '@bbb-app/styles/variables.css';

.storyContainer {
  padding: 0;
  border-radius: var(--space-1);
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  margin-left: -4px;
  margin-bottom: 30px;
}

.storyMobContainer {
  overflow-y: hidden;
  overflow-x: Auto;
  padding-top: 16px;
}

.MobileStyles {
  flex: 0 0 auto;
  width: 23%;
  text-align: center;
  margin-right: 7px;
}

.imgContainer {
  margin-left: 7px;
  margin-right: 7px;
}

.content {
  display: flex;
  margin-top: 43px;
}

.showMoreContainer {
  text-align: right;
}

.storyRemainingContainer {
  padding: 0;
  border-radius: var(--space-1);
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  transition: all 0.5s ease-in-out;
  height: auto;
  margin-top: 35px;
  margin-left: -4px;
  margin-bottom: 30px;
}

.seemore {
  font: 700 16px/1.2 var(--theme-family-sans);
  text-align: right;
  color: var(--color-font-brand);
  width: 50%;
  margin-top: -16px;
}

.storyRemainingContainer:target {
  height: auto;
}

.heading {
  font: 700 24px/1.25 var(--theme-family-serif-subset);
  color: var(--color-refresh-header);
  width: 50%;
  margin-bottom: 28px;
}

img:hover {
  filter: opacity(0.7);
  background-color: var(--color-light-grey8);
}

.imageContainer {
  margin-right: 8px;
  margin-left: 8px;
}

.contentHeight {
  margin-bottom: 35px;
}

.minContentheight {
  margin-bottom: 0;
}

.imgDefault {
  width: 141px;
  height: 130px;
}

.container {
  margin-top: 0;
}

.categoryText {
  font-family: 'Effra';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (--breakpoint-sm-md-nav) {
  .heading {
    font-size: 16px;
    margin-bottom: 0;
  }

  .content {
    display: flex;
    margin-top: 43px;
    width: 138%;
    padding-left: 10px;
  }

  .showMoreContainer {
    text-align: right;
    width: 43%;
  }

  .storyContainer {
    margin-left: 15px;
  }

  .container {
    margin-top: 0;
  }

  .storyRemainingContainer {
    margin-left: 15px;
  }

  .imgDefault {
    width: 100%;
    height: 90px;
  }

  .MobileStyles {
    margin-right: 11px;
  }
}

@media screen and (device-aspect-ratio: 40/71) {
  .imgDefault {
    height: 60px;
    width: 60px;
  }

  .showMoreContainer {
    text-align: right;
    width: 32%;
  }

  .imageContainer {
    margin-right: 7px;
    margin-left: 7px;
  }
}
