@import "theme";
@import "@bbb-app/styles/variables.css";

:root {
  --floating-wrapper-box-shadow: 10px 13px 22px 0 rgba(0, 0, 0, 0.2);
  --floating-wrapper-border: solid 2px var(--color-dark-grey-4);
  --floating-wrapper-border-radius: 8px;
}

.dockedWrapper {
  composes: flex items-center from global;
}

.floatingWrapper {
  composes: p2 from global;
  background-color: var(--theme-color-white);
  box-shadow: var(--floating-wrapper-box-shadow);
  border: var(--floating-wrapper-border);
  border-radius: var(--floating-wrapper-border-radius);
}

.fixedToViewPort {
  composes: flex fixed justify-center mb3 from global;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.registryFooterOpen {
  bottom: 80px;
}

.selectAllWrapper {
  composes: flex nowrap items-center from global;
}

.selectAllLabel {
  font: var(--theme-b1-font-light);
}

.quickPicksTitle {
  font: var(--theme-h3-serif-font);
  font-weight: var(--font-weight-bold);
  padding-bottom: var(--space-025);
}

.quizSubHeading {
  font-size: var(--font-size-text-medium);
}

.recDockedWrapper {
  display: flex;
  flex-direction: row;
}

@media screen and (--breakpoint-sm) {
  .recDockedWrapper {
    width: 100%;
    margin: 0 2%;
  }

  .quizSubHeading {
    display: flex;
    flex-direction: column;
  }

  .quickPicksDockedWrapper {
    flex-direction: column;
  }

  .dockedWrapper {
    align-items: flex-start;
    flex-direction: column;

    & :global(.babyPrimaryWrapper) {
      width: 100%;
    }
  }

  .fixedToViewPort {
    margin-bottom: 0.5rem;
  }

  .addSelectedItemsCTA {
    width: 100%;
  }

  .selectAllWrapper {
    margin-bottom: 1rem;
  }

  .floatingWrapper {
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .base {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .recSelectAllWrapper {
    margin: 0.5rem 0 0;
  }
}
