@import "theme";
@import "@bbb-app/styles/variables.css";

.collaborationGiftBanner {
  padding-top: 2%;
  padding-bottom: 2%;
}

.collaborationGiftBannerContainer {
  border-radius: 8px;
  box-shadow: 1px 0 6px -2px rgb(0 0 0 / 50%);
  background-color: #f5fcff;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.collaborationGiftBannerFSection {
  font: var(--theme-p2-font-medium);
  color: var(--color-black);
}

.collaborationGiftBannerSSection {
  font: var(--theme-paragraph-font);
  color: var(--color-dark-grey);
  margin-top: 0.3rem;
}

.collaborationGiftBannerLink {
  font-weight: bold;
  color: var(--color-font-brand);
  margin-left: 0.5rem;
  cursor: pointer;
  text-transform: lowercase;
}

.GGBannerText {
  padding-left: 12px;
}

.GGBannerLeftContainer {
  display: flex;
  flex-direction: row;
}

.collaborationGiftBannerReccomended {
  cursor: pointer;
  display: flex;
  float: right;
}

.collaborationGiftBannerReccImage {
  border-radius: 50%;
  width: 39px;
  height: 39px;
  background-color: var(--color-font-brand);
  font-size: var(--font-size-text-x-large);
  display: inline-block;
  text-align: center;
  color: var(--color-white);
}

.collaborationGiftBannerReccImageBaby {
  padding: 2%;
}

.collaborationGiftBannerReccImageOther {
  padding: 5px;
}

.collaborationGiftBannerReccText {
  margin-left: 0.5rem;
  font: var(--theme-p2-font-medium);
  color: var(--color-font-brand);
  margin-top: 0.5rem;
}

.collaborationContentModal {
  width: 764px;
  height: 556px;
  top: 0;
  right: 0;
  flex-flow: column;
}

@media only screen and (--breakpoint-xs) {
  .collaborationContentModal {
    width: 400px;
    height: 853px;
    margin-right: 0;
  }

  .collaborationGiftBanner {
    padding: 6% 2% 2%;
  }

  .GGBannerRecommendingLink {
    margin-left: 0;
  }

  .collaborationGiftBannerReccText {
    margin-left: 1rem;
    margin-top: 0;
  }

  .collaborationGiftBannerLink {
    margin-left: 0;
  }

  .GGBannerText {
    padding-left: 0;
  }
}

@media (min-width: 468px) and (max-width: 1279px) {
  .collaborationContentModal {
    width: 823px;
    height: 1181px;
  }
}
